.flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}


.hero-image-mask {
    width: 100%;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}

.title_header {
  font-family: Brown-Pro-Bold;
  margin-top: 20px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
}
 
.title_header p {
  font-family: Brown-Pro-Thin;
  margin-top: 20px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
}

.hero-image {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  background-color: rgba(43, 43, 43, 0);
  background-image: url('../images/hero.png.imgo.png');
  background-size: 125px;
  opacity: 1;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}